<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
    <title></title>
  </head>
  <body>
  <!--  <div class="container"> -->
      <h1 align="center">SITIOS CULTURALES DE BOGOTÁ</h1>
    <!--<center><img src="1.jpg" width="250" height="200"></center>-->
      <p align="center">En este sitio web, encontrarás información detallada acerca de los lugares y eventos culturares de la ciudad.</p>
    <!--  <p>Regístrate <%= link_to "Aqui", "https://www.google.com"%>.</p> -->
    <!--</div>-->
    <!-- <script type="text/javascript" src="script1.js"></script> -->
  </body>
</html>
